@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  margin-bottom: 1rem;
  margin-top: 1rem;
  background: #f1f1f1;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #1d4ed8;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(29, 78, 216, 0.4);
}
